.pace .pace-progress {background: #328aca;}
.bigIcon,.socialList li a:hover,.hint:hover{color: #328aca;}
.btn-new,.downloadNumber{background: #328aca}
.btn-new:hover,.btn-new:focus{background: #63ccee}
#share{background-color: #328aca;}
